#flow-container {
	border-left: 2px dotted black;
	height: 735px;
	left: 200px;
	position: absolute;
	top: 0;
	width: 1334px;
}

.flow-box {
	border: 1px solid black;
	height: 100px;
	position: absolute;
	width: 150px;
}

textarea {
	border: none;
	height: 96px;
	resize: none;
	width: 146px;
}

.arrow {
	display: block;
	position: absolute;
	width: 50px;
}

.arrow[data-direction="right"] {
	-webkit-transform: rotate(0deg);
    -moz-transform:    rotate(0deg);
    -ms-transform:     rotate(0deg);
    -o-transform:      rotate(0deg);
    transform:         rotate(0deg);
}

.arrow[data-direction="down"] {
	-webkit-transform: rotate(90deg);
    -moz-transform:    rotate(90deg);
    -ms-transform:     rotate(90deg);
    -o-transform:      rotate(90deg);
    transform:         rotate(90deg);
}

.arrow[data-direction="left"] {
	-webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
}

.arrow[data-direction="up"] {
	-webkit-transform: rotate(-90deg);
    -moz-transform:    rotate(-90deg);
    -ms-transform:     rotate(-90deg);
    -o-transform:      rotate(-90deg);
    transform:         rotate(-90deg);
}
